<div class="welcome-background">
  <div class="welcome-box">
    <h1>Let's play hangman!</h1>
    <p>Welcome to my metal-themed hangman game! <span aria-label="metal horns" title="Metal Horns">🤘</span></p>
    <p>This is a simple game where you can guess letters to find the hidden word. But not any words! Think about general metal vibe words, subgenres, and gear & stage words. The game will give you a maximum of 10 incorrect guesses before you lose, so choose wisely! <span aria-label="grinning devil" title="Grinning Devil">😈</span></p>
    <p>If you want to play, just click on <b>Play</b> to start a new game. As long as you don't click on <b>Exit</b>, your game will be safely saved.</p>
    <p>Let the metal vibes guide your guesses! <span aria-label="metal horns" title="Metal Horns">🤘</span></p>
    <app-button text="Play" (click)="onPlay()"></app-button>
  </div>
</div>
